@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;/* comando de margem */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /*decoração na palavra */

}

body {
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #2E2325 16.62%, #8E5D52 85.61%) */
    background: rgb(28, 79, 156);

}

.cabecalho /*pegar uma classe do html */{
    display: flex;
    flex-direction: row; /*deixar em fileira o cabeçalho */
    align-items: center; /*centralizar a logo com os botoes */
    justify-content: space-around; /* separar a logo dos botões */
    padding: 24px;

} 

.cabecalho-logo {
    height:  72px;

}
.cabecalho-atalhos {
    display: flex;
    gap: 32px; /* distanciar os botões 8 */
}

.cabecalho-atalhos-item { /* estilização dos botões // font family = fonte da letra // font weigth = deixa ela mais forte // font size = tamanho da letra */
    font-family: 'Sarala', sans-serif; 
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.corpo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;

}

.corpo-principal {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.corpo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;


}

.corpo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#FFF2E7;


}

.corpo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#ECD6C4;
    padding-top: 20px;


}

.corpo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#2F2251;


}
.corpo-principal-escrito-botao:hover {
    background-color: rgba(236 , 214 , 196 , 0.53);


}

.corpo-principal-imagem {
    height: 350px;
    border: none;
   

}

.corpo-secundario {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 32px;
    margin-top: 48px;
}


.corpo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2E7;
    margin-bottom: 16px;


}

.corpo-secundadrio-paragrafo {
    display: flex;
    font-family: 'Sarala', cursive;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    color:#ECD6C4;
    margin-bottom: 16px;
    
    



}
.corpo-secundario-imagem{
    height: 350px;
    border: none;
    padding-top: 20px;

}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;



}

.rodape-titulo {
    height: 48px;
    display: block;
    margin: 0 auto;
    color:white
}

